/*:root{ variables de codigos de colores }*/

/*
html{}

#nombredelID{}

.Nombredelaclase{}
*/




/* Submenu*/

html{
  width: 100%;
  height: 100%;
}

header {
  height: 70px;
  margin: 0px;
  padding: 0px;
}



body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color:hsla(hue, saturation, lightness, alpha);
}



  
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #333;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 17px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,255);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 15px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: normal;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

#h1footer{
  padding: 20px;
  color:#e5e5e5;
  font-size:20px;
}

/*slider automatico*/

* {
 
  padding: 0;
  font-family: lato;
}

h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 15px;
  color: white;
}

.slider-frame {
  width: 1280px;
  height: auto;
  margin: auto;
  overflow: hidden;
 
}



.slider-frame ul {
display: flex;
padding: 0;
width: 400%;

animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
width: 100%;
list-style:none;
}

.slider-frame img {
width: 100%;

}

@keyframes slide {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;}
70% {margin-left: -200%;}

75% {margin-left: -300%;}
100% {margin-left: -300%;}
}

/*area de productos*/

.container-services{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-fluid{
  width: 100%;
  
}

.price {
  color: grey;
  font-size: 22px;
}

.container-images{
  width: 250px;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-bottom: 25px;
  margin-left: 20px;
  position: relative;
  left: 0;
  
  
}

.container-images-text{
  text-align: center;
  padding: 10px 20px;
}

img{
 /* opacity: 0.5;*/
}

img:hover{
  opacity: 1;
}

.container-images img {
  cursor: pointer;
}

/*Boton*/

.btn{
  padding: 0.5em 1em;
  background: none;
  border: 1px solid white;
  font-size: 15px;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: white;
  font-weight: bolder;
  box-shadow: 0 1px 0 1px black;
}    

.btn:before{
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: grey;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btn:hover{
  background-color: #04AA6D;
  color: white;
  box-shadow: 0 2px 0 2px rgb(28, 28, 31);
}

.btn:hover::before{
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btn:active{
  transform: scale(0.9);
}

.container-images{
   
  display: flex;
  width: 400;
  height: 230;
  align-items: center;
  border-radius: 10px;
  background-color: grey;
}
.container-images img{
  border-image-width: 100;
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.container-images img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  
}

/* Padinacion */

.pagination{
  display: inline-block;
}

.pagination a{
  color:white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active{
  background: gray;
  color: black;
  border-radius: 5px;
}

.pagination a:hover:not(.active){
  background: #04AA6D;
  color: whitesmoke;
  border-radius: 5px;
}

.center-container{
  display: grid;
  justify-content: center;
}

/*area de tienda */

.container-services{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
  font-family: arial;
}

.price {
  color: red;
  font-size: 22px;
}

.card img{
  width: 300px;
  height: 300px;
}

.card button {
  border: 3px;
  outline: 0;
  padding: 10px;
  color: #04AA6D;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/*area de contactos*/

.containerForm{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px 15px;
  
}

.containerForm > section{
  width: 40%;
  padding: 10px;
}

.contact  > section{
  width: 48% !important;
}

.containerForm input, .containerForm select {
  font-size: 110%;
  color:black;

  display: block;
  width: 100%;
  height: 40px;

  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;

  box-sizing: border-box;

  border: none;
  border-radius: 3px 3px 3px 3px;
}

.containerForm .terms{
  width: 20px !important;
 
}

.flex{
  display: flex;
  margin-top:26px;
}

.flex label {
  position: relative;
  top:10px;
  right: -5px;
}

.containerForm button{
  font-size: 110%;
  color:black;
  background: #04AA6D;
  width: 100%;
  height: 30px;

  border: none;
  border-radius: 3px 3px 3px 3px;
}

.containerForm label{
  color: white;
}



/*Area de columnas / noticias*/





/* abaut*/

h6{
  color: black;
  font-size: 20px;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.cardprofile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: #ffffff;
}

.about-section {
  text-size-adjust: 24px;
  padding: 50px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(49, 49, 49);
}

.button {
  border: 50%;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #04AA6D;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* login y registro*/

#contenedor{
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

#central{
  max-width: 320px;
  width: 100%;
}

.titulo{
  font-size: 250%;
  color:#fff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

#login{
  width: 100%;
  padding: 0;
  background: #333;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px  rgba(15, 40, 64, 0);
  -moz-box-shadow: 10px 10px 5px 0px  rgba(15, 64, 34, 0.75);

  border-radius: 3px 3px 3px 3px;

  box-sizing: border-box;

}

#login input{
  font-size: 110%;
  color:black;

  display: block;
  width: 100%;
  height: 40px;

  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;

  box-sizing: border-box;

  border: none;
  border-radius: 3px 3px 3px 3px;
}

#login input::placeholder{
  color:black;
}

#login button{
  font-size: 110%;
  color:black;
  width: 100%;
  height: 40px;

  border: none;
  border-radius: 3px 3px 3px 3px;
}

#login button:hover{
  background: #555 ;
  color:#fff
}

.pie-form{
  font-size: 90%;
  text-align: center;
  margin-top: 15px;
}

.pie-form a, .inferior a {
  display: block;
  text-decoration: none;
  color:white;
  margin-bottom: 5px;
}

.pie-form a:hover, .inferior a:hover{
  color:#fff
}

.inferior{
  margin-top: 10px;
  font-size: 90%;
  text-align: center;
  margin-bottom: 5px;
}


/* blog */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 0;
  background: black;
}

/* Header/Blog Title */
.header {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  
}/* 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*/

.image-holder img{
  width: 800px;
  height: 200px;
}

.image-holder1 img{
  width: 250px;
  height: 150px;
}

.image-holder2 img{
  width: 150px;
  height: 80px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
  margin-top: auto;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 80%;
  padding: 20px;
}

/* Add a card effect for articles */
.card1 {
  background-color: grey;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}